<!DOCTYPE html>
<html>
    <head>
        <title> Hw 4 : Express</title>
        <meta charset = "utf-8"/>
        <link rel="stylesheet" href="css/styles.css" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>
                Computer Science 
            </h1>
            
        </header>
        <hr/>
        <nav>
            <a href="/">About</a>
           
            <a href="/swe">Software Engineering</a>
            
            <a href="/data">Data Science</a>
            
            <a href="/security">Security</a>
            
        </nav>
        <br /><br />