<% include partials/header.ejs %>

 <main>
             <em><strong><span class ="main">Data Science</span></strong></em> <br />
            <figure>
                <img src="img/data.jpg" width ="450"  alt ="Picture of CS"/>
            </figure>
            <div>
               <b><span class = "questions">What Does a Data Scientist Do?</span></b>
               <br>
                 Build complex algorithms to organize large amounts of data used to answer questions. 
                <br><br>
    
                <b><span class ="questions">Types of fields in Data Science</span></b>
                <br>
                
            </div>
                
        </main>
        <ul>
                 <li>Data Scientist</li>
                  <li>Data Analyst</li>
                  <li>Data Engineer</li>
                  <li>Senior Data Scientist</li>
        </ul>
            <p>Here is a qoute from <a href="https://datascience.berkeley.edu/about/what-is-data-science/">Datascience.edu</a><%=emoji%>: </p>
            
        <p><code>
              Data science professionals with the appropriate experience and education have the opportunity to make their mark
              in some of the most forward-thinking companies in the world.
        </code></p>
        <% include partials/footer.ejs %>
            