<% include partials/header.ejs %>
        <main>
            <figure>
                <img src="/img/webimg.gif" width ="450"  alt ="Picture of CS"/>
                
            </figure>
            <div>
                <strong><span class ="topic">Software Engineering</span></strong>  <br />
                
                    Software Engineering applies development, maintenance, 
                    and testing of software <br/>
                
                <br><strong><span class = "topic">Data Science</span></strong>  <br />
                
                    Data Science uses scientific methods, algorithms, and actions to 
                    gain knowlegde from structured and unstructured data. <br />  
                
                <br><strong><span class ="topic">Security</span></strong>  <br />
                
                    Security is the protection of the theft of hardware, software, 
                    and electronic data
                <script>
                    
                </script>
            </div>
        </main>
        
        <% include partials/footer.ejs %>
        
    </body>
 

</html>