<% include partials/header.ejs %>

<main>
             <em><strong><span class = "main">Security</span></strong></em> <br />
            <figure>
                <img src="img/NetworkSecurity.jpg" width ="450"  alt ="Picture of CS"/>
            </figure>
            <div>
               <b><span class = "questions">How is security helpful?</span></b>
               <br>
                   It protects your identity, information, and reputation from being attacked.   
                <br><br>
    
                <b><span class = "questions">Types of Security</span></b>
                <br>
               
                
            </div>
                  
          
        </main>
        <ul> 
                  <li>Access control</li>
                  <li>Antivirus and antimalware software</li>
                  <li>Application security</li>
                  <li>Network segmentation</li>
                  <li>Wireless security</li>
        </ul>
            <p>Here is a qoute from <a href="https://www.cisco.com/c/en/us/products/security/what-is-network-security.html">Cisco.com</a> <%=em%>: </p>
            
             <p><code>
               Effective network security manages access to the network. 
               It targets a variety of threats and stops them from entering or spreading on your network. 
            </code></p>
        
       <% include partials/footer.ejs %>
           
    </body>
        
    <!-- closing body -->

</html>