<% include partials/header.ejs %>
        <main>
             <em><strong><span class ="main">Software Engineering</span></strong></em> <br />
            <figure>
                <img src="img/software.jpg" width ="450"  alt ="Picture of CS"/>
            </figure>
            <div>
               <b><span class ="questions">What do software engineers do?</span></b>
               <br>
                Software engineers work with designers and other programmers to build,
                debugg or think analytically to solve a problem in the world. 
                <br><br>
        
                <b><span class ="questions">Where can I find a job with a degree in software engineering?</span></b>
                <br>
                    The highest demand of engineering are in Washington, California, District of Columbia, New York, and Maryland 
                <br><br>
                <b><span class ="questions">Languages</span></b>
                <br>
                
            </div>
            
                  
        
        </main>
        <ul>
                  <li>Java</li>
                  <li>JavaScript</li>
                  <li>C++</li>
                  <li>C#</li>
                  <li>Python</li>
        </ul>     
            <p>Here is a qoute from <a href="https://www.computerscience.org/careers/software-engineer/">Computerscience.org</a><%=emo%> : </p>
         <p><code>
                Computer software engineers can find employment in almost any industry. 
                In fact, nearly a third of information technology-related positions seek software developers. 
        </code></p> 
        
       <% include partials/footer.ejs %>
           
    </body>

</html>